In [2]:
import csv
import pandas as pd

In [3]:
f = open('/home/aelion/devSpace/python_security/data/cities.csv')
f
# paramètre obligatoire = file
# paramètres facultatif ="quelque chose" veut dire la valeur par défaut c'est ce qu'il y a entre ""
# par défaut open lit des fichiers texte

In [4]:
f = open('/home/aelion/devSpace/python_security/data/cities.csv', encoding='UTF-8')
f
# il vaut mieux toujours donner en argument l'encodage

In [5]:
f.read()
# read as très utilisé pour les fichiers texte

'name,population,cp\nPau,77000,64000\nToulouse,477000,31000\nNîmes,150000,30000\nFoix,9706,09000'

In [6]:
f.read()

''

In [7]:
f.close()

In [8]:
f.closed

True

In [9]:
f = open('/home/aelion/devSpace/python_security/data/cities.csv', encoding='UTF-8')
for line in f:
    print(line)
f.close()

name,population,cp

Pau,77000,64000

Toulouse,477000,31000

Nîmes,150000,30000

Foix,9706,09000

In [10]:
f2 = open('/home/aelion/devSpace/python_security/data/cities_fr.csv', encoding='latin1')
for line in f2:
    print(line)
f2.close()

name;population;cp

Pau;77000;64000

Toulouse;477000;31000

Nîmes;150000;30000

In [11]:
# on demande à python de donner Nîmes dans différents encodages
city = "Nîmes"
for encoding in "CP1252", "ISO-8859-1", "ISO-8859-15", "UTF-8":
    print(encoding, ':', city.encode(encoding))

CP1252 : b'N\xeemes'
ISO-8859-1 : b'N\xeemes'
ISO-8859-15 : b'N\xeemes'
UTF-8 : b'N\xc3\xaemes'

In [12]:
devise = "€"
for encoding in "CP1252", "ISO-8859-1", "ISO-8859-15", "UTF-8":
    print(encoding, ':', devise.encode(encoding))

CP1252 : b'\x80'

UnicodeEncodeError: 'latin-1' codec can't encode character '\u20ac' in position 0: ordinal not in range(256)

In [ ]:
# pour gérer les erreurs, on introduit try/except pour pouvoir continuer le programme même lorsqu'il y a un problème
devise = "€"
for encoding in "CP1252", "ISO-8859-1", "ISO-8859-15", "UTF-8":
    try: 
        print(encoding, ':', devise.encode(encoding))
    except UnicodeEncodeError:
        print(f"Can't encode {devise} in {encoding}")

In [ ]:
tokyo = "東京"
code = tokyo.encode('utf-8')
code

In [ ]:
code.decode('utf-8')

## Split Lines

In [ ]:
f2 = open('/home/aelion/devSpace/python_security/data/cities_fr.csv', encoding='CP1252')
sep = ";"
for line in f2:
    data = line.split(sep)
    print(data)
f2.close()

# on a retiré les ;

In [ ]:
# il faut faire en sorte de retirer la ligne d'entête
f2 = open('/home/aelion/devSpace/python_security/data/cities_fr.csv', encoding='CP1252')
sep = ";"
next(f2) # avec la fonction next() on dit d'itérer sur la ligne suivante pour retirer la ligne d'entête
for line in f2:
    data = line.split(sep)
    print(data)
f2.close()

In [ ]:
# strip permet de retirer du contenu
# rstrip retire ce qui "dépasse" à droite => ici \n
f2 = open('/home/aelion/devSpace/python_security/data/cities_fr.csv', encoding='CP1252')
sep = ";"
next(f2) 
for line in f2:
    data = line.rstrip().split(sep) # liste de string
    print(data)
f2.close()

In [ ]:
# on convertit le code postal en int
f2 = open('/home/aelion/devSpace/python_security/data/cities_fr.csv', encoding='CP1252')
sep = ";"
next(f2) 
for line in f2:
    data = line.rstrip().split(sep) # liste de string
    data[1]= int(data[1])
    print(data)
f2.close()

In [ ]:
# effet de bord avec print(), c'est à dire que data = la dernière valeur appelée
f2 = open('/home/aelion/devSpace/python_security/data/cities_fr.csv', encoding='CP1252')
sep = ";"
next(f2) 
cities =[]
for line in f2:
    data = line.rstrip().split(sep) # liste de string
    data[1]= int(data[1])
    cities.append(data)
f2.close()
cities

## Read CSV with Pandas

In [ ]:
df_cities = pd.read_csv('/home/aelion/devSpace/python_security/data/cities.csv', dtype= {'cp': 'str'}) # par défaut en utf-8
df_cities

# dtype permet de dire que la colonne cp est de type string ce qui permet d'avoir par exemple un code postal 09000 sinon on a 9000

In [ ]:
df_cities.population
# population = attribut dynamique

In [ ]:
df_cities['population']
# on va chercher la colonne population dans le dictionnaire avec les []

In [ ]:
# Calcul de la somme de population | avec sum() natif de Python
sum(df_cities.population)

In [ ]:
# Calcul de la somme de population avec Pandas | ignore les données manquantes
df_cities.population.sum()

In [ ]:
# Afficher le minimum
population_min = df_cities.population.min()
population_min

In [ ]:
# Afficher le max
population_max = df_cities.population.max()
population_max

In [ ]:
# Afficher la moyenne
population_average = df_cities.population.mean()
population_average

In [ ]:
# Transformer le résultat en format json
df_cities.to_json('/home/aelion/devSpace/python_security/data/cities.json', orient='records')

In [ ]:
# Affichage d'un tableau de données en 2D avec .DataFrame de Pandas
df_cities=pd.DataFrame(cities, columns=header)
df_cities

## Read csv with module csv

In [28]:
f = open('/home/aelion/devSpace/python_security/data/cities.csv', newline='', encoding='utf-8')
csv_reader = csv.reader(f, delimiter=",")
header = next(csv_reader)
print("Header : ", header)
cities =[]
for name, population, cp in csv_reader:
    data_converted = (name, int(population), cp)
    cities.append(data_converted)
    print("Row : ", data_converted)
f.close()
cities

Header :  ['name', 'population', 'cp']
Row :  ('Pau', 77000, '64000')
Row :  ('Toulouse', 477000, '31000')
Row :  ('Nîmes', 150000, '30000')
Row :  ('Foix', 9706, '09000')

[('Pau', 77000, '64000'),
 ('Toulouse', 477000, '31000'),
 ('Nîmes', 150000, '30000'),
 ('Foix', 9706, '09000')]

## Manipulations de données de data.gouv

In [30]:
df_cities = pd.read_csv('/home/aelion/devSpace/python_security/data/french_cities.csv', dtype= {'cp': 'str'})
df_cities

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
0,25620,ville du pont,25650,ville du pont,46.999873,6.498147,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
1,25624,villers grelot,25640,villers grelot,47.361512,6.235167,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
2,25615,villars les blamont,25310,villars les blamont,47.368384,6.871415,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
3,25619,les villedieu,25240,les villedieu,46.713906,6.265831,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
4,25622,villers buzon,25170,villers buzon,47.228558,5.852187,doubs,25,bourgogne-franche-comté,Bourgogne-Franche-Comté
...,...,...,...,...,...,...,...,...,...,...
39140,98829,thio,98829,thio,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39141,98831,voh,98833,voh,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39142,98832,yate,98834,yate,NaN,NaN,nouvelle-calédonie,988,nouvelle-calédonie,Nouvelle Calédonie
39143,98612,sigave,98620,sigave,-14.270411,-178.155263,wallis-et-futuna,986,wallis-et-futuna,Wallis-et-Futuna
39144,98613,uvea,98600,uvea,-13.281863,-176.161928,wallis-et-futuna,986,wallis-et-futuna,Wallis-et-Futuna

In [32]:
df_cities.loc[df_cities.label.str.match('la rochelle')]

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
3237,70450,la rochelle,70120,la rochelle,47.751841,5.725169,haute-saône,70,bourgogne-franche-comté,Bourgogne-Franche-Comté
15887,17300,la rochelle,17000,la rochelle,46.162421,-1.173479,charente-maritime,17,nouvelle-aquitaine,Nouvelle-Aquitaine
16249,17300,la rochelle,17000,la rochelle,46.162421,-1.173479,charente-maritime,17,nouvelle-aquitaine,Nouvelle-Aquitaine
17468,17300,la rochelle,17000,la rochelle,46.162421,-1.173479,charente-maritime,17,nouvelle-aquitaine,Nouvelle-Aquitaine

In [40]:
df_cities.loc[df_cities.label.str.match('st cloud')]

,insee_code,city_code,zip_code,label,latitude,longitude,department_name,department_number,region_name,region_geojson_name
37822,92064,st cloud,92210,st cloud,48.842563,2.208696,hauts-de-seine,92,île-de-france,Île-de-France