In [1]:
import re

In [2]:
list_cities = [
    "Toulouse",
    "Paris",
    "New York",
]

tuple_city = "Toulouse", "31000", 477000

dict_cities = {
    "name": "Toulouse",
    "zipcode": "31000",
    "population": 477000,
}

In [3]:
for o in list_cities, tuple_city, dict_cities:
    print(o)
    print("\t- length:", len(o))
    print()

['Toulouse', 'Paris', 'New York']
	- length: 3

('Toulouse', '31000', 477000)
	- length: 3

{'name': 'Toulouse', 'zipcode': '31000', 'population': 477000}
	- length: 3

In [4]:
list_cities[1]

'Paris'

In [5]:
list_cities.append?

Signature: list_cities.append(object, /)
Docstring: Append object to the end of the list.
Type:      builtin_function_or_method

In [6]:
list_cities.append("Séoul")

In [7]:
list_cities.extend(["Nantes", "La Rochelle"])

In [8]:
list(enumerate(list_cities))
# génère des tuples
# à partir de 0

[(0, 'Toulouse'),
 (1, 'Paris'),
 (2, 'New York'),
 (3, 'Séoul'),
 (4, 'Nantes'),
 (5, 'La Rochelle')]

In [9]:
for item in zip(["sud-ouest", "nord"], ["Toulouse", "Lille"]):
    print(item)
# on associe 2 objets à position équivalente
print()
list_populations = (477000, 2161000,8343000) 
for city, population in zip(list_cities, list_populations):
    print(f"{city} : {population}")

('sud-ouest', 'Toulouse')
('nord', 'Lille')

Toulouse : 477000
Paris : 2161000
New York : 8343000

In [10]:
list(enumerate(list_cities, 1))
# génère des tuples
# à partir de 1 en lui faisant passer le paramètre

[(1, 'Toulouse'),
 (2, 'Paris'),
 (3, 'New York'),
 (4, 'Séoul'),
 (5, 'Nantes'),
 (6, 'La Rochelle')]

In [11]:
for i, city in enumerate(list_cities, 1):
    print(f"{i} - {city}")

1 - Toulouse
2 - Paris
3 - New York
4 - Séoul
5 - Nantes
6 - La Rochelle

In [12]:
# number of characters to write all cities

total_letters = 0
for city in list_cities:
    total_letters += len(city)
print(total_letters)

43

In [13]:
# number of characters to write all cities
sum(len(city) for city in list_cities)

43

In [14]:
city = "Toulouse"
city.startswith("T"), \
city.endswith("i"), \
"ou" in city
# \ permet d'avoir une continuité de ligne

(True, False, True)

In [15]:
re.match # Compare le début
re.fullmatch # Compare toute la chaine de caractères
re.search # Recherche n'importe où

In [16]:
re.match(r"T.*e", city)
# On teste le pattern T au début, e à la fin et .* pour n nombre de caractères
# renvoie un objet re

In [17]:
re.fullmatch(r"[a-z]+", city) is None
# [a - z] = intervalle entre a et z
# + = on impose au moins 1 caractère
# is None permet d'avoir un retour de fullmatch. Sans is None, pas de retour car le retour est None

True

In [18]:
if re.fullmatch(r"[a-z]+", city) is None:
    print("match")
else:
    print("no match")

match

In [19]:
re.fullmatch(r"[a-z]+", city, flags=re.I)
# le flag le rend insensible à la casse

In [20]:
# number of characters to write all cities + only latin characters
sum(len(city) for city in list_cities if re.fullmatch(r"[a-z]+", city, flags=re.I))

19